$wireframe-color: #eee;
$wireframe-border-color: #c7c7c7;
$pageHeaderColor: gainsboro;

/* Color Palette */
$primary-color-dark:#024863;
$primary-color:#fff;
$primary-color-light:#00B6DE;
$primary-text-color:#212121;
$secondary-text-color:#727272;
$divider-color:#B6B6B6;
$accent-color:#607D8B;